<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="home">
        <img src="assets/images/logos/chat-logo.png"/>
         Demo Chat
      </a>
    </div>
    <p class="navbar-text navbar-right">
      <button class="btn btn-success" type="button">
          Log In
      </button>
      <button class="btn btn-success" type="button">
          Sign In
      </button>
      <button class="btn btn-primary" type="button">
        Unread Messages <span class="badge">{{ unreadMessagesCount }}</span>
      </button>
    </p>
  </div>
</nav> 
